.social-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
    cursor: none;

  background: radial-gradient(
    circle at top left,
    rgba(0,190,200,0.38),
    rgba(1, 10, 13, 0.94)
  );

  border: 1px solid rgba(45,220,220,0.42);
  backdrop-filter: blur(6px);

  color: rgba(126,240,236,0.72);
  font-size: 22px;

  transition: 
    transform 0.35s ease,
    box-shadow 0.35s ease,
    border 0.35s ease;
}

.social-icon:hover {
  transform: scale(1.12);
  box-shadow:
    0 0 20px rgba(0,190,200,0.38),
    0 0 30px rgba(0,190,200,0.22);
  border: 1px solid rgba(78,224,224,0.65);
}
